<div class="content">
  <div class="brand">
    <a class="link" href="/">EscamboApp</a>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2 class="login-title">Sign Up</h2>
  <div class="">

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "form-control", autocomplete: "name", autofocus: true, placeholder: "Nome"%>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control",  placeholder: "Password"%>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
    </div>

    <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-info btn-block" %>
  </div>
</div>


  <div class="text-center">Ja é Cadastrado?
    <%= render "admins/shared/links" %>
  </div>
  <% end -%>
</div>