<div class="page-heading">
	<h1 class="page-title">Administrador</h1>
</div>
<div class="page-content fade-in-up">
	<div class="ibox">
		<div class="ibox-head">
			<div class="ibox-title">Listando Administradores</div>
			<%= link_to new_backoffice_admin_path, class: "btn btn-success btn-circle" do%>
			<i class="fa fa-plus"></i>
			<% end -%>
		</div>
		<div class="ibox-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Role</th>
						<th>Opção</th>
					</tr>
				</thead>
				<tbody>
					<% @admins.each do |admin| %>
					<tr>
						<td><%= admin.id%></td>
						<td><%= admin.name%></td>
						<td><%= admin.email%></td>
						<td><%= admin.roles.first.name rescue '---'%></td>
						<td style=" width: 150px;">
							<%= link_to edit_backoffice_admin_path(admin), class: "btn btn-default btn-xs" do%>
							<i class="fa fa-pencil font-14"></i></button>
							<% end -%>
							<% if current_admin.has_role? :SuperAdmin %>
							<% if current_admin.id != admin.id %>
							<%= link_to backoffice_admin_path(admin), method: :delete, class: "btn btn-default btn-xs", data: {confirm: "Você deseja excluir <b>#{admin.email}</b> ?"} do %>
							<i class="fa fa-trash font-14"></i>
							<% end -%>
	
							<% end -%>
							<% end -%>
						</td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</div>
	</div>
</div>
